*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1em;
    color: #888;
    font-style: italic;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;;
    background-color: #666;
    padding-left: 4px;
    height: 4em;
    justify-content: center;
    align-items: center;
}

nav ul > li {
    padding: 1em;
    position: relative;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: background, color, padding;
    box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, 0.2), inset 0 0 0 0.15em rgba(0, 0, 0, 0.4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, 0.2);
}

nav ul > li:last-child:after {
    box-shadow: none;
}

nav ul > li:hover {
    background-color: rgba(251, 93, 0, 0.8);
    padding-left: 3em;
}

nav ul > li:hover > a {
    color: #fff;
}

nav ul > li > a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    transition: color .3s ease-in-out;
}

/* small screens */
@media screen and (max-width: 44em) {
    body {
        margin: 1.5em 0;
    }

    nav ul {
        padding: 0 .5em;
    }

    nav ul > li {
        width: 100%;
        padding: .45em .25em;
        text-align: center;
    }

    nav ul > li:after {
        box-shadow: none;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

/* ////////// buttons for tables /////////////// */


.edit_btn {

    background-color: rgba(251, 93, 0, 0.8);
    border: 1px solid rgba(251, 93, 0, 0.8);
}

.delete_btn {
    background-color: rgba(251, 13, 0, 0.8);
    border: 1px solid rgba(251, 13, 0, 0.8);
}

.delete_btn,
.edit_btn {
    padding: 0.35em 1.2em;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.5em;
    transform: scale(0.8);
    transition-duration: 0.5s;
}

.delete_btn:hover,
.edit_btn:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "First Name";
    }

    td:nth-of-type(3):before {
        content: "Last Name";
    }

    td:nth-of-type(4):before {
        content: "Age";
    }

    td:nth-of-type(5):before {
        content: "Actions";
    }
}

/*////////////// FORM STYLES /////////////////*/
form .field-group {
    display: flex;
    margin: 0 0 12px 0;
}

form .field-group .label {
    flex: 1;
    text-align: right;
    margin: 0 8px 0 0;
    padding: 2px 0;
}

form .field-group .field {
    flex: 3;
}

form .field-group:last-child {
    display: flex;
    justify-content: flex-end;
}

form .field-group:last-child .field {
    max-width: 75%;
}

input {
    padding: .4rem 1rem;
    font-size: 1.8rem;
    border: solid 1px #eee;
    background: #fff;
    box-sizing: border-box;
    width: 20%;
}

input[type="submit"].btn {
    width: 5em;
    text-align: left;
}

/*///////// tablet and mobile STYLES //////////*/
@media (max-width: 720px) {
    form .field-group .label {
        text-align: left;
        margin: 0;
    }

    input, select {
        width: 60%;
    }
}

@media (max-width: 480px) {
    input,
    select {
        width: 100%;
    }

    input[type="radio"],
    input[type="checkbox"],
    input[type="submit"] {
        width: auto;
    }

    form .field-group {
        display: flex;
        flex-direction: column;
        margin: 0 0 6px 0;
    }

    form .field-group .label {
        padding: 0 0 5px 0;
        margin: 10px 0 0 0;
    }
}
